<%= form_for @food do |f| %>
  <div class="form-left"><div class="form-row"><%= f.label :name %>:</div>
  <div class="form-row"><%= f.label :image_url %>:</div>
  <div class="form-row"><%= f.label :text %>:</div></div>
  <div class="form-right"><div class="form-row"><%= f.text_field :name %></div>
  <div class="form-row"><%= f.text_field :image_url %></div>
  <div class="form-row"><%= f.text_area :text, cols: 80, rows: 10%></div>
  <div class="form-row"><%= f.submit "Save" %></div></div>
<% end %>