<h1>Extreme Foods!</h1>
<p>A collection of the world's more challenging delicacies</p>
<h2><%= @food.name %></h2>
<img class="food-pic" src="<%= @food.image_url%>">
<div class="food-text"><%= @food.text %></div>
<%= link_to "delete", @object_name, method: :delete %> 
<a href="/foods/<%= @food.id%>/edit">edit</a>