<h1>Extreme Foods!</h1>
<p>A collection of the world's more challenging delicacies</p>
<h2><%= @food.name %></h2>
<img class="food-pic" src="<%= @food.image_url%>">
<div class="food-text"><%= @food.text %></div>
<%= link_to "delete", @food, method: :delete, data: { confirm: "Are you sure?" } %> 
<%= link_to "edit", :edit_food %>